HOST=0.0.0.0
PORT=8000
KEY="a8Tt3EKnodLIJYf8GCdYZgui1ODslCyXeOy5HkgpWZM="
DEBUG=false
LOG=false
VERSION=1.0.0
STORAGE_PATH="../storage"

# Database
DB_USERNAME="facesync"
DB_PASSWORD="secretpassword"
DB_HOST="127.0.0.1"
DB_PORT=5432
DB_NAME="facesync_db"
DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable"

# Redis
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
REDIS_IGNORE=true

# MediaMTX
MEDIAMTX_HOST="127.0.0.1"
MEDIAMTX_API="http://${MEDIAMTX_HOST}:9997"
MEDIAMTX_RTSP="rtsp://${MEDIAMTX_HOST}:8554"
MEDIAMTX_WEBRTC="http://${MEDIAMTX_HOST}:8889"
MEDIAMTX_HLS="http://${MEDIAMTX_HOST}:8888"